body {
	font-family: 'Roboto', 'sans-serif';
	color: #3C3C3C;
	font-size: 16px;
	background-color: #F7F7F7;
	margin: 0px;
}

#banner {

	background: linear-gradient(90deg, rgba(255,255,255,1) 1%, rgba(246,246,246,0.8323704481792717) 8%, rgba(243,247,247,0) 100%), url("images/colissimo.jpg");
	height: 379px;
	padding-left: 10px;
	background-position : center;
}

.logolaposte {
	width: 150px
}

.container_avantages {
	text-align: center;
	padding-bottom: 40px;
}

.avantages {
	margin: 10px auto;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 10px;
 }

.avantage {
	background-color: #ec6a1f;
	color: #fff;
	width: 90%;
	border: 1px solid #d1d1cd;
	box-shadow: 10px 5px 5px #d1d1cd;
	border-radius: 5px;
	margin: 10px auto;
	padding: 10px;
	text-align: center;
}
.avantage:hover {
	 background-color: #e95701
}

.pictos_avantages {
 	width: 35px;
 	height: 35px;
 	padding: 10px;
 	border-radius: 50%;
 	background-color: #fff;
 }

.container_stepper {
	margin: 10px auto;
	text-align: center;
	margin-right: : 10px
	padding: 10px auto;

}

.stepper {
	display: grid;
	align-items: center;
	grid-template-columns: 2fr 1fr 2fr 1fr 2fr;
	
   	}

.step {
	background-color: #fff;
	width: 250px;
	height: 250px;
	border: 1px solid #d1d1cd;
	border-radius: 50%;
	box-shadow: 10px 5px 5px #d1d1cd;
	margin: 20px auto;
	padding: 10px
}

.pictos_stepper {
 	width: 70px; 
 	margin: 30px
 }

 .fleche {
 	width: 35px;
 	height: 35px;
 	padding: 20px;
 	border-radius: 50%;
 	border: 1px solid #d1d1cd;
 	background-color: #e95701;
 	margin-left: auto;
  	margin-right: auto;
}
  .fleche_bas {
 	width: 35px;
 	height: 35px;
 	padding: 20px;
 	border-radius: 50%;
 	border: 1px solid #d1d1cd;
 	background-color: #e95701;
 	margin-left: auto;
  	margin-right: auto;
 }

.button {
	background-color: #ec6a1f;
	width: 300px;
	border: 1px solid #d1d1cd;
	border-radius: 5px;
	box-shadow: 10px 5px 5px #d1d1cd;
	margin: 40px auto;
	padding: 20px;
	text-align: center;	
	font-size: 22px
}

.button:hover {
	 background-color: #e95701
	 }

h1, h2, h3 {
	font-family: 'Montserrat', 'sans-serif';
}

h1 {
	color: #EB6A20;
	font-size: 30px;
	font-weight: 500;
	margin: 30px;
}

h2 {
	color: #EB6A20;
	font-size: 26px;
	font-weight: 200;
}

h3 {
	font-size: 18px;
	font-weight: 700;
	margin: 20px;
}

p {
	font-size: 16px;
	margin: 20px;
}	

a {
  	margin: 10px;
  	text-decoration: none;
  	color: #fff;
}
a:hover {
	text-decoration: underline;
 	color: #fff;
}

typeform-share:hover {
	text-decoration: underline;
 	color: #fff;


}
.footer {
	background-color: #353534;
	text-align: center;
	height: 100px;
	color: #353534;
	padding: 20px auto;
}

.footerlinks {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 10px;

}

@media (max-width: 800px) {

.avantages {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 10px;
	}
.stepper {
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-gap: 10px;
}
.logolaposte {
	width: 100px
}
}

@media (max-width: 600px) {

.avantages {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 10px;
	}
.stepper {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 10px;
	}
 .fleche {
 	display: none;
 	}
.logolaposte {
	width: 80px
	}
}

@media (min-width: 600px) {
  .fleche_bas {
 	display: none;}
 	}